<!DOCTYPE HTML>
<html>
<head>
	<title>Cache to User Data Vis</title>
	<!-- Import Pure.css -->
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<!-- Load main CSS file after to override Pure classes -->
	<!--<link rel="stylesheet" type="text/css" href="styles/main.css">-->
	<!-- Load jQuery library -->
	<script src="../static/scripts/jquery.min.js"></script>
	
	<script type="text/javascript" src="../static/scripts/canvasjs-1.7.0/canvasjs.min.js"></script>
	<script type="text/javascript" src="../static/dvcache.js"></script>
	
</head>
<body>
 	<div id="allChartHolder" class="pure-g">
		<div id="user-template" class="pure-u-1-5" style="height:300px;"></div>
	</div>
</body>
</html>
