<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>About</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/bootstrap/css/signin.css" rel="stylesheet">
  </head>

  <body>
		<nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse collapse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./" style="color:white;">Scalable Video-On-Demand Using Edge Resources</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="" onclick="history.go(-1)">Back</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <br>
        <h1>About</h1>
        <p>The Scalable Video-on-Demand System is developed by UC Berkeley Master of Engineering (M.Eng.) students Jiayuan Chen, Alagu Sanjana Haribhaskaran, and Ryan Kashi. It is a year-long capstone project advised by Kannan Ramchandran, Professor at UC Berkeley, and Kangwook Lee, doctoral student at BASiCS (Berkeley Audio-visual Signal processing and Communication Systems) Lab.</p>
      <div class="col-md-5">
        <h2>Members</h2>
        <p>Professor Kannan Ramchandran <a href="http://www.eecs.berkeley.edu/~kannanr/">(www.eecs.berkeley.edu/~kannanr)</a></p>
        <p>Kangwook Lee (PhD) <a href="http://www.eecs.berkeley.edu/~kw1jjang/">(www.eecs.berkeley.edu/~kw1jjang)</a></p>
        <p>Jiayuan Chen <a href="mailto:jiayuan.chen@berkeley.edu">(jiayuan.chen@berkeley.edu)</a></p>
        <p>Alagu Sanjana Haribhaskaran <a href="mailto:alagusanjana@berkeley.edu">(alagusanjana@berkeley.edu)</a></p>
        <p>Ryan Kashi <a href="mailto:ryankashi@berkeley.edu">(ryankashi@berkeley.edu)</a></p>

        <h2>Resources</h2>
        <p>Source Code (<a href="">Not an open source project yet</a>)</p>
        <p>Capstone Paper (<a href="">Jiayuan</a>)</p>
        <p>Capstone Paper (<a href="">Alagu</a>)</p>
        <p>Capstone Paper (<a href="">Ryan</a>)</p>
        <p>Advising research lab's project <a href="https://www.eecs.berkeley.edu/~kannanr/project_cdn.html">homepage</a></p>
      </div>

      <div class="col-md-7">
        <br>
        <img src="./static/group_pic.jpg" class="img-thumbnail">
      </div>
    </div>

  </body>
</html>

