$def with (n_nodes, num_accounts, num_videos_watched)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>P2PVoD</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/bootstrap/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <nav class="navbar navbar-inverse navbar-collapse navbar-fixed-top collapse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./" style="color:white;">Scalable Video-On-Demand Using Edge Resources</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./help">About</a></li>
            <li><a href="./login">Signin</a></li>
            <li><a href="./signup">Signup</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="./static/background1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Scalable VoD using Edge Resources</h1>
              <br>
              <p>We propose, analyze, and implement a general architecture for massively parallel VoD content distribution. We allow for devices that have a wide range of reliability, storage and bandwidth constraints. Each device can act as a cache for other devices and can also communicate with a central server. Our goal is to create a marketable product that allows each user device to be able to stream any movie from a large catalog, while minimizing the load of the central server.</p>
              <br>
              <p><a class="btn btn-lg btn-primary" href="./signup" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="./static/background2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>The System</h1>
              <br>
              <p>There are currently <span style="font-size: 250%;">$n_nodes[0]</span> server(s), <span style="font-size: 250%;">$n_nodes[1]</span> cache(s), and <span style="font-size: 250%;">$n_nodes[2]</span> user(s) running in the system</p>
              <p><span style="font-size: 250%;">$num_accounts</span> accounts have been registered, and have watched <span style="font-size: 250%;">$num_videos_watched</span> movies in total</p>
              <p><a class="btn btn-lg btn-primary" href="./help" role="button">Learn more</a></p>
              <br>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img" src="./static/distributed.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Scalable & Distributed</h2>
          <p>Each edge devices has limited storage, but they can store content even from ones that the device owner is not watching. The chunked movies are distributed in the networks that allows scalability and unreliability.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img" src="./static/server.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Minimum Server Load</h2>
          <p>While all chunks from a popular movie are distributed among caches in edge devices, the caches will act as mini servers, which deliver the movie to other users, thus minimize server load and increase system stability.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img" src="./static/easy.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Easy to Use</h2>
          <p>Please download the CalVoD desktop application, and login with you credentials registered on this website. You'll then get instant access to enormous amount of classic and popular movies!</p>
          <p><a class="btn btn-default" href="#" role="button">Download &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="divider" style="margin-bottom: 60px;">

      <div class="row featurette">
        <div class="col-md-5">
          <p style="font-size: 200%;">Theoretical Approach</p>
          <p style="font-size: 125%;">First, we architect and formulate a static optimization problem that accounts for various network bandwidth and storage capacity constraints, as well as the maximum number of network connections for each device. Not surprisingly this formulation is NP-hard. We then use coding and the Markov approximation technique in a primal-dual framework to devise a highly distributed algorithm which is provably close to the optimal. Next we test the practical effectiveness of the distributed algorithm in several ways. We demonstrate remarkable robustness to system scale and changes in demand, user churn, network failure and node failures via a packet level simulation of the system. Finally, we test our system with numerous experiments on a full implementation of the system on Amazon EC2 instances.</p>
          <p><a class="btn btn-primary" href="./help" role="button">Read Our Capstone Papers</a></p>
        </div>
        <div class="col-md-7">
          <img src="./static/system_architecture.png" class="img-thumbnail">
        </div>

      </div>

      <hr class="featurette-divider">
      <p class="lead">This is a UC Berkeley EECS Master of Engineering (M.Eng.) capstone project developed by Jiayuan Chen, Alagu Sanjana Haribhaskaran, and Ryan Kashi, adviced by Kangwook Lee (PhD) and Prof. Kannan Ramchandran</p>
      <p class="lead">5/13/2016</p>

      <!-- /END THE FEATURETTES -->


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
