<!DOCTYPE HTML>
<html>
<head>
	<!-- Import Pure.css -->
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<!-- Load main CSS file after to override Pure classes -->
	<!--<link rel="stylesheet" type="text/css" href="styles/main.css">-->
	<!-- Load jQuery library -->
	<script src="../static/scripts/jquery.min.js"></script>
	
	
  <script type="text/javascript" src="../static/scripts/canvasjs-1.7.0/canvasjs.min.js"></script>
	<script type="text/javascript" src="../static/datavis.js"></script>
	
	
	
</head>
<body>
 	<div id="chartContainer" style="height: 300px; width: 100%;"></div>
	<div id="allChartHolder" style="width: 100%;">
		<div id="user-template" style="height: 300px; width: 50%;"></div>
	</div>
</body>
</html>