$def with (nodes_info, n_nodes, videos_info, server_load, server_load_avg, points, accounts, account_cache)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Overview</title>
    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/bootstrap/css/dashboard.css" rel="stylesheet">
    <META HTTP-EQUIV="refresh" CONTENT="5">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Time', 'Server load for users', 'Server load for caches'],
                $for i in range(len(server_load[0])-1):
                    ['$i', $server_load[0][i], $server_load[1][i]],
                ['$(len(server_load[0])-1)', $server_load[0][len(server_load[0])-1], $server_load[1][len(server_load[0])-1]]]);
            var options = {
                width: 1120, height: 400,
                title: 'Server Load (Mbps)', headxis: {title: 'Time (sec)', titleTextStyle: {color: 'red'}}
            };
            var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>

		<script type="text/javascript">
		jQuery(document).ready(function(){
		    jQuery('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
		        localStorage.setItem('activeTab', jQuery(e.target).attr('href'));
		    });
		    var activeTab = localStorage.getItem('activeTab');
		    if(activeTab){
		        jQuery('#myTab a[href="' + activeTab + '"]').tab('show');
		    }
		});
		</script>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse collapse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./" style="color:white;">Scalable Video-On-Demand Using Edge Resources</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./">Dashboard</a></li>
            <li><a href="./help">About</a></li>
            <li><a href="./logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
		
		<div id="tabs">
    	<div class="container-fluid col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar tabs" id="myTab">
            <li class="active"><a href="#tab1" data-toggle="tab">Load Overview</a></li>
            <li><a href="#tab2" data-toggle="tab">Nodes</a></li>
            <li><a href="#tab3" data-toggle="tab">Video List</a></li>
            <li><a href="#tab4" data-toggle="tab">Accounts</a></li>
            <li><a href="#tab5" data-toggle="tab">Points</a></li>
            <li><a href="#tab6" data-toggle="tab">Visualization</a></li>
          </ul>
    </div>
        
    	<div class="tab-content col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="tab-pane active text-style" id="tab1">
            <h1 class="page-header">Load Overview</h1>
            <div id="chart_div"></div>    
            <h3 class="">Average server load for users = $server_load_avg[0] Mbps</h2>
            <h3 class="">Average server load for caches = $server_load_avg[1] Mbps</h2>
        </div>

        <div class="tab-pane text-style" id="tab2">
            <h1 class="page-header">Node Information</h1>
                <h3>Number of servers = $n_nodes[0]</h3>
                <h3>Number of caches = $n_nodes[1]</h3>
                <h3>Number of users = $n_nodes[2]</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>type</th>
                      <th>ip</th>
											<th>port</th>
                      <th>Watching_video</th>
                      <th>Stored_chunks</th>
                    </tr>
                  </thead>
                  <tbody>
                    $for node in nodes_info:
                    <tr>
                        $for n in node:
                        <td>$n</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane text-style" id="tab3">
            <h1 class="page-header">Video List</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>video_name</th>
                      <th>n_frms</th>
                      <th>code_n</th>
                      <th>code_k</th>
                      <th>total_size (bytes)</th>
                      <th>chunk_size</th>
                      <th>last_chunk_size</th>
                    </tr>
                  </thead>
                  <tbody>
                    $for video in videos_info:
                    <tr>
                        $for v in video:
                        <td>$v</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane text-style" id="tab4">
            <h1 class="page-header">Account Info</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>account_name</th>
                      <th>password</th>
                      <th>email_address</th>
                    </tr>
                  </thead>
                  <tbody>
                    $for account in accounts:
                    <tr>
                        $for a in account:
                        <td>$a</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane text-style" id="tab5">
            <h1 class="page-header">Accounts Running Caches</h1>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>account_name</th>
                    <th>ip</th>
                    <th>port</th>
                    <th>bytes_uploaded</th>
                    <th>multiplier</th>
                  </tr>
                </thead>
                <tbody>
                  $for account_c in account_cache:
                  <tr>
                    $for ac in account_c:
                    <td>$ac</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br>
            <h1 class="page-header">Point Info</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>account_name</th>
                      <th>total_mbs_uploaded</th>
                      <th>points</th>
                      <th>purchased_videos</th>
                    </tr>
                  </thead>
                  <tbody>
                    $for point in points:
                    <tr>
                        $for p in point:
                        <td>$p</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane text-style" id="tab6">
          <h1 class="page-header">Data Visualizations</h1>
          <a class="btn btn-success btn-lg" href="./req/CACHE_DATA_VIS" role="button" value="Open Window">User to Cache data</a>
          &nbsp;&nbsp;&nbsp;
          <a class="btn btn-success btn-lg" href="./req/CACHE_TO_USER_DATA" role="button" value="Open Window">Cache to User data</a>
        </div>

    	</div>
		</div>
		</div>
		
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>
