$def with (user_name, points, account, account_cache, num_cache)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>User Overview</title>
    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/bootstrap/css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Scalable Video-On-Demand Using Edge Resources</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./user_overview">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="./help">Help</a></li>
            <li><a href="./logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h2>Hello $user_name!</h2>
          <p>user id: $account[0], email: $account[3], password: $account[2]</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->

      <div class="row">
        <div class="col-md-4">
          <h2>Usage Summary</h2>
          <p>Moive watch history, usage stat of mast user and cache</p>
          <p><a class="btn btn-primary" href="#" role="button">manage &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2>System Status</h2>
          <p>you are running $num_cache caches</p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>id</th>
                  <th>user_name</th>
                  <th>ip</th>
                  <th>port</th>
                </tr>
              </thead>
                <tbody>
                  $for cache in account_cache:
                  <tr>
                      $for c in cache:
                      <td>$c</td>
                  </tr>
                </tbody>
            </table>
          </div>
          <p><a class="btn btn-primary" href="#" role="button">manage &raquo;</a></p>
        </div>
        
        <div class="col-md-4">
          <h2>Points Earned</h2>
          <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>user_name</th>
                    <th>bytes_uploaded</th>
                    <th>points</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    $for p in points:
                    <td>$p</td>
                  </tr>
                </tbody>
              </table>
          </div>
          <p><a class="btn btn-primary" href="#" role="button">manage &raquo;</a></p>
        </div>
      </div>


        <br><br>
        <h1> My movie list</h1>
        <div class="row">
          <div class="col-lg-2 col-sm-3 col-xs-4">
              <a href="#">
                   <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
              </a>
          </div>
           <div class="col-lg-2 col-sm-3 col-xs-4">
              <a href="#">
                   <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
              </a>
          </div>
           <div class="col-lg-2 col-sm-3 col-xs-4">
              <a href="#">
                   <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
              </a>
          </div>
           <div class="col-lg-2 col-sm-3 col-xs-4">
              <a href="#">
                   <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
              </a>
          </div>
           <div class="col-lg-2 col-sm-3 col-xs-4">
              <a href="#">
                   <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
              </a>
          </div>
           <div class="col-lg-2 col-sm-3 col-xs-4">
              <a href="#">
                   <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
              </a>
          </div>
           <div class="col-lg-2 col-sm-3 col-xs-4">
              <a href="#">
                   <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
              </a>
          </div>
           <div class="col-lg-2 col-sm-3 col-xs-4">
              <a href="#">
                   <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
              </a>
          </div>
          <div class="col-lg-2 col-sm-3 col-xs-4">
              <a href="#">
                   <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
              </a>
          </div>
          <div class="col-lg-2 col-sm-3 col-xs-4">
              <a href="#">
                   <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
              </a>
          </div>
          <div class="col-lg-2 col-sm-3 col-xs-4">
              <a href="#">
                   <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
              </a>
          </div>
          <div class="col-lg-2 col-sm-3 col-xs-4">
              <a href="#">
                   <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
              </a>
          </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
