$def with (user_name, points, account, account_cache, num_cache, num_user, node_info, rank, n_nodes, video_owned)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>User Overview</title>
    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/bootstrap/css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse collapse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./" style="color:white;">Scalable Video-On-Demand Using Edge Resources</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./user_overview">Dashboard</a></li>
            <li><a href="./help">About</a></li>
            <li><a href="./logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <div class="col-md-2">
          <img class="img-circle" src="./static/classprofile.png" alt="Generic placeholder image" width="160" height="160">
        </div>
        <div class="col-md-10">
          <h2>Hello $user_name!</h2>
          <p>In this dashboard you can 1) View VoD leaderboard; 2) check incentive points earned; 3) review data usage and movie watching history & wish list;</p>
        </div>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->

      <div class="row">
        <div class="col-md-4">
          <h2>User Leaderboard&nbsp;&nbsp;<!-- <a class="btn btn-primary" href="#" role="button">manage &raquo;</a> --></h2><hr>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>user_name</th>
                  <th>movie_watched</th>
                  <th>Mbs_uploaded</th>
                </tr>
                <tbody>
                  $for user in rank:
                  <tr>
                    $for u in user:
                    <td>$u</td>
                  </tr>
                </body>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-md-4">
          <h2>System Status&nbsp;&nbsp;<!-- <a class="btn btn-primary" href="#" role="button">manage &raquo;</a> --></h2><hr>
          <p>There are <span style="color:green;text-align:center;font-family:Impact,Charcoal,sans-serif;">$n_nodes[1]</span> caches and <span style="color:green;text-align:center;font-family:Impact,Charcoal,sans-serif;">$n_nodes[2]</span> users running in the system</p>
          <p>You are running <span style="color:green;text-align:center;font-family:Impact,Charcoal,sans-serif;">$num_cache</span> cache and <span style="color:green;text-align:center;font-family:Impact,Charcoal,sans-serif;">$num_user</span> user (listed below)</p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>type</th>
                  <th>user_name</th>
                  <th>watching_video</th>
                </tr>
              </thead>
                <tbody>
                  $for node in node_info:
                  <tr>
                      $for n in node:
                      <td>$n</td>
                  </tr>
                </tbody>
            </table>
          </div>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>type</th>
                  <th>ip</th>
                  <th>port</th>
                  <th>bytes_uploaded</th>
                  <th>size</th>
                </tr>
              </thead>
                <tbody>
                  $for cache in account_cache:
                  <tr>
                      $for c in cache:
                      <td>$c</td>
                  </tr>
                </tbody>
            </table>
          </div>

        </div>

        
        <div class="col-md-4">
          <h2>Points Earned&nbsp;&nbsp;<!-- <a class="btn btn-primary" href="#" role="button">manage &raquo;</a> --></h2><hr>
          <h1 style="color:green;text-align:center;font-family:Impact,Charcoal,sans-serif;">$points[0]</h1>
          <br>
          <p>You've watched $points[1] movies, and uploaded $points[2] Mbs</p>
          <p>(For each 1 GB of data you shared, you are rewarded 1 point. 5 points will be subtracted each time you watch a new movie. No further points will be subtracted if you re-watch a movie)</p>
        </div>

        <div class="col-md-8">
          <h2>Movies I Watched</h2><hr>
          <ul class="list-group">
            $for n in video_owned:
            <li class="list-group-item">$n</li>
          </ul>
        </div>
      </div>


    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
